html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

snookr-ui-app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

snookr-ui-table {
    position: relative;
    flex: 1;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

snookr-ui-board {
    background: #369;
    font-family: arial, sans-serif;
    display: flex;
    flex-direction: row;
    padding: 0px;
    font-size: 1.5em;
    color: #000;
}

snookr-ui-board .frames-won {
    padding: 0 0.5em;
}

snookr-ui-board .score {
    font-size: 1em;
    font-weight: bold;
    background: #def;
    padding: 0 0.3em;
}

snookr-ui-board .player-name {
    flex: 1;
}

snookr-ui-board .next-rule {
    font-size: 0.7em;
    padding: 0.1em 0.3em;
    font-style: italic;
    display: none;
}

snookr-ui-board .player.current .next-rule {
    display: block;
}

snookr-ui-board .break {
    font-size: 0.5em;
    padding: 0.3em;
    display: none;
}

snookr-ui-board .player.current .break {
    display: block;
}

snookr-ui-board .player {
    border: 3px solid transparent;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}

snookr-ui-board .player.current {
    border-color: #fff;
}

snookr-ui-board .player.current.snookered {
    border-color: red;
}

snookr-ui-board .score-container {
    display: flex;
    flex-direction: row;
    align-items: center
}

snookr-ui-board .player-1 > .score-container {
    flex-direction: row-reverse;
}

snookr-ui-cueball {
    width: 68px;
}

snookr-ui-cueball > div {
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    margin: 2px;
    border-radius: 50%;
    border: 1px solid #888;
    background: #ddd;
    position: relative;
}

snookr-ui-cueball > div > div {
    position: absolute;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(48, 96, 144, 0.4);
    top: 0;
    left: 0;
    transform: translate(27px, 27px);;
}

snookr-ui-cueball > div > div:after {
    display: block;
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #000;
    top: 4px;
    left: 4px;
}
